{% extends "main.html" %}

{% block title %}
    Firmen
{% endblock %}

{% block static %}
{% load static %}
{% endblock static %}

{% block menubar %}
    {% include "storagemanagement_company_menubar.html" %}
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <div class="row justify-content-around">
        {% for obj in queryset %}
        <div class="card mt-3 mb-3 ms-1 me-1" style="width: 18rem;">
            <img src="" class="card-img-top" alt="logo from company" id="id_logo-{{ obj.id }}">
            <div class="card-body">
                <h5 class="card-title ">
                    <div class="input-group mt-1 mb-1">
                        <a href="" class="form-control btn btn-sm btn-primary align-middle" id="id_company-{{ obj.id }}">
                            -
                        </a>
                    </div>
                </h5>
                <div class="input-group mt-1 mb-1">
                    <div class="input-group-text">
                        <i class="fas fa-phone"></i>
                    </div>
                    <span class="form-control">
                        <small id="id_telephone-{{ obj.id }}">
                            -
                        </small>
                    </span>
                </div>
                <div class="input-group mt-1 mb-1">
                    <div class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <span class="form-control">
                        <small id="id_email-{{ obj.id }}">
                            -
                        </small>
                    </span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mt-1 mb-1">
                            <a href="" class="input-group-text btn btn-primary">
                                <i class="fas fa-user"></i>
                            </a>
                            <span class="form-control text-center" id="id_companycontact_count-{{ obj.id }}">
                                -
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mt-1 mb-1">
                            <a href="" class="input-group-text btn btn-primary">
                                <i class="fas fa-cubes"></i>
                            </a>
                            <span class="form-control text-center" id="id_companyitem_count-{{ obj.id }}">
                                -
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>  
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
<script src="{% static 'storagemanagement_company_overview.js' %}"></script>
<script>
    company_overview("{{ api_data_url }}","company");
</script>
{% endblock scripts %}