{% load static %}
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="nav me-auto mb-0">
            {% if perms.structuremanagement.view_statusdata %}
            <!-- Overview -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_overview' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% if status %}{% url 'structuremanagement:status_statusdata_overview' status=status.slug %}{% else %}{% url 'structuremanagement:statusdata_overview' %}{% endif %}">
                    <i class="fas fa-eye"></i>
                </a>
            </li>
            <!-- END Overview -->
            {% endif %}
            {% if perms.structuremanagement.list_statusdata %}
            <!-- List -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_list' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% if status %}{% url 'structuremanagement:status_statusdata_list' status=status.slug %}{% else %}{% url 'structuremanagement:statusdata_list' %}{% endif %}">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <!-- END List -->
            {% endif %}
            {% if perms.structuremanagement.table_statusdata %}
            <!-- Table -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_table' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% if status %}{% url 'structuremanagement:status_statusdata_table' status=status.slug %}{% else %}{% url 'structuremanagement:statusdata_table' %}{% endif %}">
                    <i class="fas fa-table"></i>
                </a>
            </li>
            <!-- END Table -->
            {% endif %}
            {% if perms.structuremanagement.add_statusdata %}
            <!-- Create -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_create' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% if status %}{% url 'structuremanagement:status_statusdata_create' status=status.slug %}{% else %}{% url 'structuremanagement:statusdata_create' %}{% endif %}">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <!-- END Create -->
            {% endif %}
            {% if 'statusdata_delete' in request.resolver_match.url_name or 'statusdata_detail' in request.resolver_match.url_name or 'statusdata_update' in request.resolver_match.url_name and perms.structuremanagement.detail_statusdata %}
            <!-- Detail -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_detail' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:statusdata_detail' statusdata=queryset.slug %}">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <!-- END Detail -->
            {% endif %}
            {% if 'statusdata_delete' in request.resolver_match.url_name or 'statusdata_detail' in request.resolver_match.url_name or 'statusdata_update' in request.resolver_match.url_name and perms.structuremanagement.change_statusdata %}
            <!-- Update -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_update' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:statusdata_update' statusdata=queryset.slug %}">
                    <i class="fas fa-pen"></i>
                </a>
            </li>
            <!-- END Update -->
            {% endif %}
            {% if 'statusdata_delete' in request.resolver_match.url_name or 'statusdata_detail' in request.resolver_match.url_name or 'statusdata_update' in request.resolver_match.url_name and perms.structuremanagement.delete_statusdata %}
            <!-- Delete -->
            <li class="nav-item">
                <a class="btn {% if 'statusdata_delete' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:statusdata_delete' statusdata=queryset.slug %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            <!-- END Delete -->
            {% endif %}
        </ul>
    </div>
</nav>