{% extends "main.html" %}

{% block title %}
    Status Daten
{% endblock %}

{% block static %}
{% load static %}
{% endblock static %}

{% block aside %}
{% endblock aside %}

{% block menubar %}
    {% include "status/templates/statusdata_menubar.html" %}
{% endblock menubar %}

{% block content %}
<form class="fluid-container" method="post" enctype="multipart/form-data">

    <!-- Status Data Break and Submit Button -->
    {% if 'detail' in request.resolver_match.url_name %}
    {% else %}
    {% csrf_token %}
    <div class="container text-end">
        <a class="btn btn-danger mt-3" href="javascript:history.back()">Abbrechen</a>
        <input class="btn btn-primary mt-3" type="submit" name="add_value" value="Bestätigen">
    </div>
    {% endif %}
    <!-- END Status Data Break and Submit Button -->

    <div class="container mt-3">
        <div class="card h-100">
            <div class="card-body">

                <!-- Status Data Values -->
                <div class="row justify-content-between align-items-start">
                    <a class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 align-self-center text-center" href="" id="id_url_detail" target="_blank">
                        {% load qr_code %}
                        <img class="img-fluid" src="{% qr_url_from_text queryset.url_detail size='m' image_format='png' %}" alt="Link to File" id="id_image_file_url">
                    </a>
                    <div class="col">
                        <div class="row justify-content-between align-items-start">

                            <h1 class="col card-title mt-3" id="reference_number">
                                {% if 'create' in request.resolver_match.url_name %}
                                <span>Aktenzeichen</span>
                                {% else %}
                                <span id="id_reference_number"></span>
                                {% endif %}
                            </h1>
                            <div class="col text-end">
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                    <div class="btn-group">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Status Data Status -->
                            <div class="mt-3">
                                <div>
                                    <label class="form-label" for="{{ form.status_id.id_for_label }}">Status</label>
                                </div>
                                {% if status and 'create' in request.resolver_match.url_name %}
                                    <div class="input-group">
                                        <input class="form-control" type="text" value="" disabled id="id_status">
                                        <a class="btn btn-primary" href="" id="id_status_url_detail">
                                            <i class="fas fa-info"></i>        
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="btn-group w-100">
                                        {% if 'detail' in request.resolver_match.url_name %}
                                            <input class="form-control" type="text" value="" disabled id="id_status">
                                        {% else %}
                                            {{ form.status_id }}
                                        {% endif %}
                                        {% if 'create' in request.resolver_match.url_name %}
                                        {% else %}
                                            <a class="btn btn-primary" href="" id="id_status_url_detail">
                                                <i class="fas fa-info"></i>        
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- END Status Data Status -->

                            <!-- Status Data Device -->
                            <div class="mt-3">
                                <div>
                                    <label class="form-label" for="{{ form.device_id.id_for_label }}">Gerät</label>
                                </div>
                                {% if device and 'create' in request.resolver_match.url_name %}
                                    <div class="input-group">
                                        <input class="form-control" type="text" value="" disabled id="id_device">
                                        <a class="btn btn-primary" href="" id="id_device_url_detail">
                                            <i class="fas fa-info"></i>        
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="btn-group w-100">
                                        {% if 'detail' in request.resolver_match.url_name %}
                                            <input class="form-control" type="text" value="" disabled id="id_device">
                                        {% else %}
                                            {{ form.device_id }}
                                        {% endif %}
                                        {% if 'create' in request.resolver_match.url_name %}
                                        {% else %}
                                            <a class="btn btn-primary" href="" id="id_device_url_detail">
                                                <i class="fas fa-info"></i>        
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <!-- END Status Data Device -->

                            <!-- Status Create and Update -->
                            <div class="mt-3">
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                <div class="row">

                                    <!-- Status Data Create -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
                                        <h5>
                                            <label class="dropdown-btn btn btn-secondary btn-lg text-start w-100" for="create">Erstellt</label>
                                        </h5>
                                        <input type="checkbox" class="dropdown-checkbox" id="create" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                                        <div class="dropdown-content">
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_create_datetime">
                                            </div>
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_create_username">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Status Data Create -->

                                    <!-- Status Data Update -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
                                        <h5>
                                            <label class="dropdown-btn btn btn-secondary btn-lg text-start w-100" for="update">Letztes Update</label> 
                                        </h5>
                                        <input type="checkbox" class="dropdown-checkbox" id="update" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                                        <div class="dropdown-content">
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_update_datetime">
                                            </div>
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_update_username">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Status Data Update -->

                                </div>
                                {% endif %}
                            </div>
                            <!-- END Status Data Create and Update -->

                        </div>
                    </div>

                </div>
                <!-- END Status Data Values -->
                
            </div>
        </div>
    </div>

    <!-- Status Break and Submit Button -->
    {% if 'detail' in request.resolver_match.url_name %}
    {% else %}
    <div class="container text-end">
        <a class="btn btn-danger mt-3" href="javascript:history.back()">Abbrechen</a>
        <input class="btn btn-primary mt-3" type="submit" name="add_value" value="Bestätigen">
    </div>
    {% endif %}
    <!-- END Status Break and Submit Button -->

</form>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block scripts %}
{% if 'create' in request.resolver_match.url_name %}
{% else %}
<script src="{% static 'js/transformTable.js' %}"></script>
<script src="{% static 'statusdata_updatedetail.js' %}"></script>
<script>
    statusdata_updatedetail("{% url 'structuremanagementAPI:statusdata_detail' statusdata=queryset.slug %}")
</script>
{% endif %}
{% endblock scripts %}