{% extends "main.html" %}

{% block title %}
    Prozess Management
{% endblock %}

{% block static %}
{% load static %}

{% endblock static %}

{% block menubar %}
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;align-items:stretch;width:100%;">
    <h1>Prozess-Management</h1>
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}