{% extends "section/templates/section_overview.html" %}

{% block title %}
    Abteilung
{% endblock %}

{% block static %}
{% load static %}
{% endblock static %}

{% block aside %}
{% endblock aside %}

{% block content %}
<form class="fluid-container" method="post" enctype="multipart/form-data">

    <!-- Section Break and Submit Button -->
    {% if 'detail' in request.resolver_match.url_name %}
    {% else %}
    {% csrf_token %}
    <div class="container text-end">
        <a class="btn btn-danger mt-3" href="javascript:history.back()">Abbrechen</a>
        <input class="btn btn-primary mt-3" type="submit" name="add_value" value="Bestätigen">
    </div>
    {% endif %}
    <!-- END Section Break and Submit Button -->

    <div class="container mt-3">
        <div class="card">
            <div class="card-body">

                <!-- Section Values -->
                <div class="row justify-content-between align-items-start">
                    {% if queryset.picture_id %}
                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 align-self-center text-center">
                            <img class="img-fluid" src="" alt="Prozess Bild" id="id_image_file_url">
                        </div>
                    {% else %}
                    <a class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 align-self-center text-center" href="" id="id_url_detail" target="_blank">
                        {% load qr_code %}
                        <img class="img-fluid" src="{% qr_url_from_text queryset.url_detail size='m' image_format='png' %}" alt="Link to File" id="id_image_file_url">
                    </a>
                    {% endif %}
                    <div class="col">
                        <div class="row justify-content-between align-items-start">
                            <h1 class="col card-title mt-3" id="reference_number">
                                {% if 'create' in request.resolver_match.url_name %}
                                <span>Aktenzeichen</span>
                                {% else %}
                                <span id="id_reference_number"></span>
                                {% endif %}
                            </h1>
                            <div class="col text-end">
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                    <div class="btn-group">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mt-3">
                                <label class="form-label" for="{{ form.name.id_for_label }}">Name</label>
                                {% if 'detail' in request.resolver_match.url_name %}
                                <input class="form-control" type="text" value="" disabled id="id_name">
                                {% else %}
                                {{ form.name }}
                                {% endif %}
                            </div>
                            <div class="mt-3">
                                <label class="form-label" for="{{ form.short_form.id_for_label }}">Kurzform</label>
                                {% if 'detail' in request.resolver_match.url_name %}
                                <input class="form-control" type="text" value="" disabled id="id_short_form">
                                {% else %}
                                {{ form.short_form }}
                                {% endif %}
                            </div>
                            <div class="mt-3">
                                <label class="form-label" for="{{ form.short_form.id_for_label }}">Bereich</label>
                                <div class="btn-group w-100">
                                    {% if 'detail' in request.resolver_match.url_name %}
                                    <input class="form-control" type="text" value="" disabled id="id_department_id">
                                    {% else %}
                                        {{ form.department_id }}
                                    {% endif %}
                                    {% if 'create' in request.resolver_match.url_name %}
                                    {% else %}
                                        <a class="btn btn-primary" href="" id="id_department_id_url_detail">
                                            <i class="fas fa-info"></i>        
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Section Create and Update -->
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                <div class="row">

                                    <!-- Section Create -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
                                        <h5>
                                            <label class="dropdown-btn btn btn-secondary btn-lg text-start w-100" for="create">Erstellt</label>
                                        </h5>
                                        <input type="checkbox" class="dropdown-checkbox" id="create" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                                        <div class="dropdown-content">
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_create_datetime">
                                            </div>
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_create_username">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Section Create -->

                                    <!-- Section Update -->
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
                                        <h5>
                                            <label class="dropdown-btn btn btn-secondary btn-lg text-start w-100" for="update">Letztes Update</label> 
                                        </h5>
                                        <input type="checkbox" class="dropdown-checkbox" id="update" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                                        <div class="dropdown-content">
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_update_datetime">
                                            </div>
                                            <div class="input-group mt-3">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                <input class="form-control" type="text" value="" disabled id="id_update_username">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Section Update -->

                                </div>
                                {% endif %}
                            </div>
                            <!-- END Section Create and Update -->

                        </div>
                    </div>

                </div>
                <!-- END Section Values -->                                

                <!-- Section Special Values -->
                <p class="card-text">
                    <div class="row">

                        <!-- Section Color -->
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                            <h5 class="mt-3">
                                <label class="btn btn-secondary btn-lg dropdown-btn w-100 text-start" for="dropdown-color">
                                    Farbe <span class="btn" disabled id="id_color">&nbsp;&nbsp;</span>
                                </label>
                            </h5>
                            <input class="dropdown-checkbox" type="checkbox" id="dropdown-color" checked>
                            <div class="dropdown-content">
                                <div class="row">
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                                        <label class="form-label" for="{{ form.rgba_red.id_for_label }}">Rot-Anteil</label>
                                        {% if 'detail' in request.resolver_match.url_name %}
                                        <input class="form-control" type="text" value="" disabled style="background-color: rgba(255,0,0,1);" id="id_rgba_red">
                                        {% else %}
                                        {{ form.rgba_red }}
                                        {% endif %}
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                                        <label class="form-label" for="{{ form.rgba_green.id_for_label }}">Grün-Anteil</label>
                                        {% if 'detail' in request.resolver_match.url_name %}
                                        <input class="form-control" type="text" value="" disabled style="background-color: rgba(0,255,0,1);" id="id_rgba_green">
                                        {% else %}
                                        {{ form.rgba_green }}
                                        {% endif %}
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                                        <label class="form-label" for="{{ form.rgba_blue.id_for_label }}">Blau-Anteil</label>
                                        {% if 'detail' in request.resolver_match.url_name %}
                                        <input class="form-control" type="text" value="" disabled style="background-color: rgba(0,0,255,1);" id="id_rgba_blue">
                                        {% else %}
                                        {{ form.rgba_blue }}
                                        {% endif %}
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mt-3">
                                        <label class="form-label" for="{{ form.rgba_alpha.id_for_label }}">Sichtbarkeit</label>
                                        {% if 'detail' in request.resolver_match.url_name %}
                                        <input class="form-control" type="text" value="" disabled id="id_rgba_alpha">
                                        {% else %}
                                        {{ form.rgba_alpha }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Section Color -->

                        <!-- Section Responsible -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                            <label class="btn btn-secondary btn-lg dropdown-btn w-100 text-start" for="dropdown-responsible">
                                Verantwortlicher
                            </label>
                            <input class="dropdown-checkbox" type="checkbox" id="dropdown-responsible" checked>
                            <div class="dropdown-content">
                                <div class="input-group mt-3">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    {% if 'detail' in request.resolver_match.url_name %}
                                    <input class="form-control" type="text" value="" disabled id="id_responsible_employee_id">
                                    {% else %}
                                    {{ form.responsible_employee_id }}
                                    {% endif %}
                                </div>
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                <div class="mt-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        <span class="form-control" id="id_responsible_email"></span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        <span class="form-control" id="id_responsible_telephone"></span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>  
                        </div>
                        <!-- END Section Responsible -->

                        <!-- Section Substitute -->
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                            <label class="btn btn-secondary btn-lg dropdown-btn w-100 text-start" for="dropdown-substitute">
                                Stellvertreter
                            </label>
                            <input class="dropdown-checkbox" type="checkbox" id="dropdown-substitute" checked>
                            <div class="dropdown-content">
                                <div class="input-group mt-3">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    {% if 'detail' in request.resolver_match.url_name %}
                                    <input class="form-control" type="text" value="" disabled id="id_substitute_employee_id">
                                    {% else %}
                                    {{ form.substitute_employee_id }}
                                    {% endif %}
                                </div>
                                {% if 'create' in request.resolver_match.url_name %}
                                {% else %}
                                <div class="mt-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        <span class="form-control" id="id_substitute_email"></span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        <span class="form-control" id="id_substitute_telephone"></span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END Section Substitute -->

                    </div>
                </p>
                <!-- END Section Special Values -->

            </div>
        </div>

        <!-- Section Files -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">
                    <label class="btn btn-secondary btn-lg dropdown-btn w-100 text-start" for="dropdown-files">
                        Dateien
                    </label>
                </h5>
                <input class="dropdown-checkbox" type="checkbox" id="dropdown-files" checked>
                <p class="card-text">
                    <div class="dropdown-content">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                                <label class="form-label" for="{{ form.picture_id.id_for_label }}">Bild</label> <br>
                                {% if 'create' in request.resolver_match.url_name %}
                                    {{ form.picture_id }}
                                {% elif 'update' in request.resolver_match.url_name %}
                                    {{ form.picture_id }}
                                {% else %}
                                    {% if queryset.picture_id %}
                                        <div class="mt-3">
                                            <a class="btn btn-primary" href="" target="_blank" id="id_picture_id_url_file">
                                                <i class="fas fa-file-image"></i>
                                            </a>
                                            &nbsp;
                                            <a class="link-dark text-decoration-none" href="" id="id_picture_id_url_detail">
                                            </a>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                                <label class="form-label" for="{{ form.process_instruction_id.id_for_label }}">Verfahrensanweisung</label> <br>
                                {% if 'create' in request.resolver_match.url_name %}
                                    {{ form.process_instruction_id }}
                                {% elif 'update' in request.resolver_match.url_name %}
                                    {{ form.process_instruction_id }}
                                {% else %}
                                    {% if queryset.process_instruction_id %}
                                        <div class="mt-3">
                                            <a class="btn btn-primary" href="" target="_blank" id="id_process_instruction_id_url_file">
                                                <i class="fas fa-file-pdf"></i>
                                            </a>
                                            &nbsp;
                                            <a class="link-dark text-decoration-none" href="" id="id_process_instruction_id_url_detail">
                                            </a>
                                        </div>
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        <!-- END Section Files -->

        {% if 'create' in request.resolver_match.url_name %}
        {% else %}

        <!-- Section Positions -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title input-group w-100">
                    <span class="input-group-text" id="id_positions_count"></span>
                    <label class="btn btn-secondary btn-lg dropdown-btn form-control text-start" for="dropdown-position">
                        Arbeitsplätze
                    </label>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="{% url 'structuremanagement:position_overview' %}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="{% url 'structuremanagement:position_list' %}">
                        <i class="fas fa-list"></i>
                    </a>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="{% url 'structuremanagement:position_table' %}">
                        <i class="fas fa-table"></i>
                    </a>
                    <a class="btn btn-success btn-lg input-group-text" href="{% url 'structuremanagement:position_create' %}">
                        <i class="fas fa-plus"></i>
                    </a>
                </h5>
                <input class="dropdown-checkbox" type="checkbox" id="dropdown-position" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                <p class="card-text">
                    <div class="dropdown-content">
                        <!-- Tabelle -->
                        <table class="table table-striped table-hover dt-responsive display align-middle nowrap" id="positions">
                            <caption id="{{ model }}-caption" class="">
                                Tabelle 1: Auflistung aller Arbeitsplätze
                            </caption>
                            <thead id="{{ model }}-head" class="thead-dark">
                                <tr class="" id="{{ model }}-head-row2">
                                    <th scope="col"></th>
                                    <th scope="col">Referenz</th>
                                    <th scope="col">Name</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <!-- Table Body -->
                            <tbody id="{{ model }}-body">
                            </tbody>
                            <!-- END Table Body -->
                            <tfoot>
                            </tfoot>
                        </table>
                        <!-- END Tabelle -->
                    </div>
                    
                </p>
            </div>
        </div>
        <!-- END Section Positions -->

        <!-- Section Employees -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title input-group w-100">
                    <span class="input-group-text" id="id_employees_count"></span>
                    <label class="btn btn-secondary btn-lg dropdown-btn form-control text-start" for="dropdown-employee">
                        Mitarbeiter
                    </label>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="#">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="#">
                        <i class="fas fa-list"></i>
                    </a>
                    <a class="btn btn-primary btn-lg input-group-text d-md-inline-block d-sm-none d-none" href="#">
                        <i class="fas fa-table"></i>
                    </a>
                    <a class="btn btn-success btn-lg input-group-text" href="#">
                        <i class="fas fa-plus"></i>
                    </a>
                </h5>
                <input class="dropdown-checkbox" type="checkbox" id="dropdown-employee" {% if 'detail' in request.resolver_match.url_name %}checked{% endif %}>
                <p class="card-text">
                    <div class="dropdown-content">
                        <!-- Tabelle -->
                        <table class="table table-striped table-hover dt-responsive display align-middle nowrap" id="employees">
                            <caption id="{{ model }}-caption" class="">
                                Tabelle 1: Auflistung aller Mitarbeiter
                            </caption>
                            <thead id="{{ model }}-head" class="thead-dark">
                                <tr class="" id="{{ model }}-head-row2">
                                    <th scope="col"></th>
                                    <th scope="col">Referenz</th>
                                    <th scope="col">Name</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <!-- Table Body -->
                            <tbody id="{{ model }}-body">
                            </tbody>
                            <!-- END Table Body -->
                            <tfoot>
                            </tfoot>
                        </table>
                        <!-- END Tabelle -->
                    </div>
                </p>
            </div>
        </div>
        <!-- END Section Employees -->

        {% endif %}

    </div>
    
    <!-- Section Break and Submit Button -->
    {% if 'detail' in request.resolver_match.url_name %}
    {% else %}
    <div class="container text-end">
        <a class="btn btn-danger mt-3" href="javascript:history.back()">Abbrechen</a>
        <input class="btn btn-primary mt-3" type="submit" name="add_value" value="Bestätigen">
    </div>
    {% endif %}
    <!-- END Section Break and Submit Button -->

</form>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block scripts %}
{% if 'create' in request.resolver_match.url_name %}
{% else %}
<script src="{% static 'js/transformTable.js' %}"></script>
<script src="{% static 'section_updatedetail.js' %}"></script>
<script>
    section_updatedetail("{% url 'structuremanagementAPI:section_detail' section=queryset.slug %}")
</script>
{% endif %}
{% endblock scripts %}