{% load static %}
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="nav me-auto mb-0">
            {% if perms.structuremanagement.view_process %}
            <!-- Overview -->
            <li class="nav-item">
                <a class="btn {% if 'process_overview' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_overview' %}">
                    <i class="fas fa-eye"></i>
                </a>
            </li>
            <!-- END Overview -->
            {% endif %}
            {% if perms.structuremanagement.list_process %}
            <!-- List -->
            <li class="nav-item">
                <a class="btn {% if 'process_list' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_list' %}">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <!-- END List -->
            {% endif %}
            {% if perms.structuremanagement.table_process %}
            <!-- Table -->
            <li class="nav-item">
                <a class="btn {% if 'process_table' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_table' %}">
                    <i class="fas fa-table"></i>
                </a>
            </li>
            <!-- END Table -->
            {% endif %}
            {% if perms.structuremanagement.add_process %}
            <!-- Create -->
            <li class="nav-item">
                <a class="btn {% if 'process_create' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_create' %}">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <!-- END Create -->
            {% endif %}
            {% if 'process_delete' in request.resolver_match.url_name or 'process_detail' in request.resolver_match.url_name or 'process_update' in request.resolver_match.url_name and perms.structuremanagement.detail_process %}
            <!-- Detail -->
            <li class="nav-item">
                <a class="btn {% if 'process_detail' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_detail' process=queryset.slug %}">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <!-- END Detail -->
            {% endif %}
            {% if 'process_delete' in request.resolver_match.url_name or 'process_detail' in request.resolver_match.url_name or 'process_update' in request.resolver_match.url_name and perms.structuremanagement.change_process %}
            <!-- Update -->
            <li class="nav-item">
                <a class="btn {% if 'process_update' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_update' process=queryset.slug %}">
                    <i class="fas fa-pen"></i>
                </a>
            </li>
            <!-- END Update -->
            {% endif %}
            {% if 'process_delete' in request.resolver_match.url_name or 'process_detail' in request.resolver_match.url_name or 'process_update' in request.resolver_match.url_name and perms.structuremanagement.delete_process %}
            <!-- Delete -->
            <li class="nav-item">
                <a class="btn {% if 'process_delete' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:process_delete' process=queryset.slug %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            <!-- END Delete -->
            {% endif %}
        </ul>
        <ul class="nav ms-auto mb-0">
            {% if perms.structuremanagement.view_processdata %}
            <!-- Data -->
            <li class="nav-item">
                <a class="btn {% if 'processdata_table' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% if request.resolver_match.kwargs.process %}{% url 'structuremanagement:process_processdata_table' process=queryset.slug %}{% else %}{% url 'structuremanagement:processdata_table' %}{% endif %}">
                    <i class="fas fa-database"></i>
                </a>
            </li>
            <!-- ENDE Data -->
            {% endif %}
        </ul>
    </div>
</nav>