<ul>
    {% for i in index.items %}
    <li>{{ i.0 }}</li>
    {% if None not in i.1 %}
    <ul>
        {% for j in i.1.items %}
        <li>{{ j.0 }}</li>
        {% if None not in j.1 %}
        <ul>
            {% for k in j.1 %}
            <li>
                {{ k }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</ul>

<style>
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:rgba(41,43,44,0.9)!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.2rem .2rem;
  margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:60px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.0s, opacity 0.3s linear;
  
}
  
 

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 1.0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border: 0px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Wetzlich Optik-Präzision GmbH</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav">
            {% for i in index.items %}
			<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i.0 }}
                </a>
                {% if None not in i.1 %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="container">
                        <div class="row">
                            {% for j in i.1.items %}
                            <div class="col-sm-3" >
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">{{ j.0 }}</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    {% if None not in j.1 %}
                                    {% for k in j.1 %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">{{ k }}</a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}  
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </li>
            {% endfor %}
		</ul>
	</div><!-- /.nav-collapse -->
</nav>