{% extends "main.html" %}

{% block title %}
    Protokoll Daten Übersicht
{% endblock %}

{% block static %}
{% load static %}
{% endblock static %}

{% block aside %}
{% endblock aside %}

{% block menubar %}
    {% include "protocol/templates/protocoldata_menubar.html" %}
{% endblock menubar %}

{% block content %}
<section class="fluid-container">
    <div class="row justify-content-around">
    </div>
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block scripts %}
<script src="{% static 'protocoldata_overview.js' %}"></script>
<script>
    protocoldata_overview("{{ api_data_url }}")
</script>
{% endblock scripts %}