{% extends "main.html" %}

{% block title %}
    Visualisierung
{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock static %}

{% block navbar %}
    {% include "headline_V1-0.html" %}
    {% include "navbar_V3-0.html" %}
{% endblock navbar %}

{% block menubar %}
<nav class="menubar col-xl-24 col-lg-24 col-md-24 col-sm-24">
    <ul class="menu">
        {% for tab in tabs %}
        {% if tab.name == queryset.name %}
        <li class="menuitem success active">
            <a href="{% url 'Visualisation:visualisation_detail' slug=tab.slug %}">
                {{ tab.name }}
            </a>
        </li>
        {% else %}
        <li class="menuitem success">
            <a href="{% url 'Visualisation:visualisation_detail' slug=tab.slug %}">
                {{ tab.name }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="menu">
        <li class="menuitem success {% if request.resolver_match.url_name == 'tab_list' %}active{% endif %}">
            <a href="{% url 'Visualisation:tab_list' %}">
                <img src="{% static 'icons/list.png' %}" alt="Icon">
                <span>Liste</span>
            </a>
        </li>
        <li class="menuitem success {% if request.resolver_match.url_name == 'tab_table' %}active{% endif %}">
            <a href="{% url 'Visualisation:tab_table' %}">
                <img src="{% static 'icons/table.png' %}" alt="Icon">
                <span>Tabelle</span>
            </a>
        </li>
        {% if request.resolver_match.url_name == 'tab_detail' or request.resolver_match.url_name == 'tab_update' or request.resolver_match.url_name == 'tab_delete' or request.resolver_match.url_name == 'visualisation_detail' %}
        <li class="menuitem success {% if request.resolver_match.url_name == 'visualisation_detail' %}active{% endif %}">
            <a href="{% url 'Visualisation:visualisation_detail' slug=queryset.slug %}">
                <img src="{% static 'icons/view.png' %}" alt="Icon">
                <span>Übersicht</span>
            </a>
        </li>
        <li class="menuitem success {% if request.resolver_match.url_name == 'tab_detail' %}active{% endif %}">
            {% if queryset.id %}
            <a href="{% url 'Visualisation:tab_detail' id=queryset.id %}">
            {% else %}
            <a href="{% url 'Visualisation:tab_list' %}">
            {% endif %}
                <img src="{% static 'icons/detail.png' %}" alt="Icon">
                <span>Details</span>
            </a>
        </li>
        <li class="menuitem success {% if request.resolver_match.url_name == 'tab_update' %}active{% endif %}">
            {% if queryset.id %}
            <a href="{% url 'Visualisation:tab_update' id=queryset.id %}">
            {% else %}
            <a href="{% url 'Visualisation:tab_list' %}">
            {% endif %}
                <img src="{% static 'icons/bearbeiten.png' %}" alt="Icon">
                <span>Bearbeiten</span>
            </a>
        </li>
        {% endif %}
        <li class="menuitem success {% if request.resolver_match.url_name == 'tab_create' %}active{% endif %}">
            <a href="{% url 'Visualisation:tab_create' %}">
                <img src="{% static 'icons/add.png' %}" alt="Icon">
                <span>Hinzufügen</span>
            </a>
        </li>
        {% if request.resolver_match.url_name == 'tab_detail' or request.resolver_match.url_name == 'tab_update' or request.resolver_match.url_name == 'tab_delete' or request.resolver_match.url_name == 'visualisation_detail' %}
        <li class="menuitem error">
            <label for="delete">
                <img src="{% static 'icons/delete.png' %}" alt="Icon">
                <span>Löschen</span>
            </label>
            <input type="checkbox" id="delete" name="delete" hidden>
            <div class="modalbox">
                <div class="content">
                    Soll dieses Objekt wirklich gelöscht werden?
                    <div>
                        <label class="hover-error" for="delete">
                        Abbrechen
                        </label>
                        {% if queryset.id %}
                        <a class="hover-success" href="{% url 'Visualisation:tab_delete' id=queryset.id %}">
                            Bestätigen
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock menubar %}

{% block aside %}
<aside class="left" style="position:fixed;display:flex;flex-direction:column;height:100%;width:250px;">
    <input class="aside-toggler-cb" type="checkbox" id="header_toggler" checked="checked">
    <label class="aside-toggler-btn" for="header_toggler"> <p> < </p> </label>
    <ul class="content">
        <li>
            1
        </li>
        <li>
            2
        </li>
        <li>
            3
        </li>
    </ul>
</aside>
{% endblock aside %}

{% block content %}
<h1 style="font-size:5rem;color: white;">Visualisierung</h1>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}