{% extends "commission/commission.html" %}

{% block title %}
    Aufträge
{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_V1.css' %}">
{% endblock static %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <!-- Tabelle -->
    <table class="light" id="Commission-Table-1">
        <col width = "200px" />
        <col width = "100px" />
        <col width = "150px" />
        <col width = "200px" />
        <col width = "75px" />
        <col width = "75px" />
        <col width = "150px" />
        <col width = "150px" />
        <col width = "45px" />
        <caption>
            <div>
                <span>{{ queryset.count }} Aufträge</span>
            </div>
        </caption>
        <thead>
            <tr>
                <th>
                    Auftrag
                </th>
                <th rowspan="2">
                    Eingang
                </th>
                <th colspan="2">
                    Letzte Meldung
                </th>
                <th rowspan="2">
                    Alter
                </th>
                <th rowspan="2">
                    WK
                </th>
                <th rowspan="2">
                    Versandzeit
                </th>
                <th rowspan="2">
                    Versand
                </th>
                <th rowspan="2" class="icon">
                    <img src="{% static 'icons/delivery.png' %}" alt="Icon">
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" id="Commission-Input-1" onkeyup="tableFilter('Commission',1,1)" placeholder="Filter" style="width:100%">
                </th>
                <th>
                    Zeit
                </th>
                <th>
                    Meldung
                </th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            {% for obj in queryset %}
            <tr>
                <th>
                    Auftrag
                </th>
                <td>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                </td>
                <th>
                    Eingang
                </th>
                <td class="center">
                    {{ obj.getFirstStatusReport.createTime|date:"d.m.Y" }}
                </td>
                <th>
                    Eingang
                </th>
                <td class="center">
                    {{ obj.getLastStatusReport.createTime|date:"d.m.Y H:i" }}
                </td>
                <td>
                    {{ obj.getLastStatusReport.statusreport }}
                </td>
                <th>
                    Alter
                </th>
                <td class="center">
                    {{ obj.getAge }}
                </td>
                <th>
                    Werkstatt
                </th>
                <td class="center">
                    &#10004;/&#10006;
                </td>
                <th class="icon">
                    <img src="{% static 'icons/delivery.png' %}" alt="Icon">
                </th>
                <td>
                    Versandzeit
                </td>
                <td>
                    Versandart
                </td>
                <td class="center">
                    <a class="icon" href="{% url 'commission:commission_delivery_change' id=obj.id %}">{% if obj.done %}&#10004;{% else %}&#10006;{% endif %}</a>
                </td>
            </tr>
            <tr>
                <td colspan="9" style="padding: 0.5rem 1rem 0.5rem 1rem">
                    <div style="background-color:rgba(255,0,0,1);width:100%">
                        <div style="background-color:rgba(0,155,0,1);width:{{ obj.getProcress }}%;text-align: center;">
                            {{ obj.getProcress }}%
                        </div>
                    </div> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- END Table Body -->
    </table>
    <!-- END Tabelle -->
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}