{% load static %}
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="nav me-auto mb-0">
            {% if perms.relationshipmanagement.view_general %}
            <!-- Overview -->
            <li class="nav-item">
                <a class="btn {% if 'general_overview' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_overview' %}">
                    <i class="fas fa-eye"></i>
                </a>
            </li>
            <!-- END Overview -->
            {% endif %}
            {% if perms.relationshipmanagement.list_general %}
            <!-- List -->
            <li class="nav-item">
                <a class="btn {% if 'general_list' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_list' %}">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <!-- END List -->
            {% endif %}
            {% if perms.relationshipmanagement.table_general %}
            <!-- Table -->
            <li class="nav-item">
                <a class="btn {% if 'general_table' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_table' %}">
                    <i class="fas fa-table"></i>
                </a>
            </li>
            <!-- END Table -->
            {% endif %}
            {% if perms.relationshipmanagement.add_general %}
            <!-- Create -->
            <li class="nav-item">
                <a class="btn {% if 'general_create' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_create' %}">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <!-- END Create -->
            {% endif %}
            {% if 'general_delete' in request.resolver_match.url_name or 'general_detail' in request.resolver_match.url_name or 'general_update' in request.resolver_match.url_name and perms.relationshipmanagement.detail_general %}
            <!-- Detail -->
            <li class="nav-item">
                <a class="btn {% if 'general_detail' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_detail' general=queryset.slug %}">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <!-- END Detail -->
            {% endif %}
            {% if 'general_delete' in request.resolver_match.url_name or 'general_detail' in request.resolver_match.url_name or 'general_update' in request.resolver_match.url_name and perms.relationshipmanagement.change_general %}
            <!-- Update -->
            <li class="nav-item">
                <a class="btn {% if 'general_update' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_update' general=queryset.slug %}">
                    <i class="fas fa-pen"></i>
                </a>
            </li>
            <!-- END Update -->
            {% endif %}
            {% if 'general_delete' in request.resolver_match.url_name or 'general_detail' in request.resolver_match.url_name or 'general_update' in request.resolver_match.url_name and perms.relationshipmanagement.delete_general %}
            <!-- Delete -->
            <li class="nav-item">
                <a class="btn {% if 'general_delete' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'relationshipmanagement:general_delete' general=queryset.slug %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            <!-- END Delete -->
            {% endif %}
        </ul>
    </div>
</nav>