{% extends "main.html" %}

{% block title %}
    Beziehungsmanagement
{% endblock title %}

{% block static %}
{% load static %}
{% endblock static %}

{% block menubar %}
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title ">
                    <a href="{% url 'relationshipmanagement:relationshipmanagement' %}" class="btn btn-lg btn-primary align-middle w-100">
                        Beziehungsmanagement
                    </a>
                </h3>
                <div class="card-text">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'relationshipmanagement:company_overview' %}" class="btn btn-primary w-100">
                                Firmen
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-industry"></i>
                                </label>
                                <span class="form-control">
                                    {{ company_count }}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <a href="{% url 'relationshipmanagement:companycontact_overview' %}" class="btn btn-primary w-100">
                                Kontakte
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-users"></i>
                                </label>
                                <span class="form-control">
                                    {{ companycontact_count }}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <a href="{% url 'relationshipmanagement:companyitem_overview' %}" class="btn btn-primary w-100">
                                Artikel
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-cubes"></i>
                                </label>
                                <span class="form-control">
                                    {{ companyitem_count }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}