{% extends "main.html" %}

{% block title %}
    Artikel
{% endblock title %}

{% block static %}
{% load static %}
{% endblock static %}

{% block style %}
    <style type="text/css">
        div.card {
            width:18rem;
        }
        i.fas {
            width:1rem;
        }
    </style>
{% endblock style %}

{% block menubar %}
    {% include "storagemanagement_supplieritem_menubar.html" %}
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <div class="row justify-content-around">
        {% for obj in queryset %}
        <div class="card mt-3 mb-3 ms-1 me-1">
            {% if form_setting_queryset.image %}
            <img src="" height="300px" width="300px" class="card-img-top" alt="picture from item" id="id_image-{{ obj.id }}">
            {% endif %}
            <div class="card-body">
                {% if form_setting_queryset.name %}
                <div class="input-group mt-1 mb-1">
                    {% if form_setting_queryset.url_detail %}
                    <a href="" class="form-control btn btn-primary align-middle" id="id_supplieritem-{{ obj.id }}">
                        -
                    </a>
                    {% else %}
                    <span class="form-control align-middle text-center" id="id_supplieritem-{{ obj.id }}">
                        -
                    </span>
                    {% endif %}
                </div>
                {% endif %}
                {% if form_setting_queryset.item_number %}
                <div class="input-group mt-1 mb-1">
                    {% if form_setting_queryset.url_detail %}
                    <a href="" class="form-control btn btn-primary align-middle" id="id_item_number-{{ obj.id }}">
                        -
                    </a>
                    {% else %}
                    <span class="form-control align-middle text-center" id="id_item_number-{{ obj.id }}">
                        -
                    </span>
                    {% endif %}
                </div>
                {% endif %}
                {% if form_setting_queryset.supplier_name %}
                <div class="input-group">
                    {% if form_setting_queryset.supplier_url_detail %}
                    <a href="" class="form-control btn btn-sm btn-primary align-middle" id="id_supplier-{{ obj.id }}">
                        -
                    </a>
                    {% else %}
                    <span class="form-control align-middle text-center" id="id_supplier-{{ obj.id }}">
                        -
                    </span>
                    {% endif %}
                </div>
                {% endif %}
                {% if form_setting_queryset.stock_count %}
                <div class="input-group mt-1 mb-1">
                    <span href="" class="input-group-text">
                        <i class="fas fa-cubes"></i>
                    </span>
                    <span class="form-control text-center">
                        <small id="id_stock_count-{{ obj.id }}">0</small>
                    </span>
                </div>
                {% endif %}
                {% if form_setting_queryset.stock_value %}
                <div class="input-group mt-1 mb-1">
                    <span href="" class="input-group-text">
                        <i class="fas fa-euro-sign"></i>
                    </span>
                    <span class="form-control text-center">
                        <small id="id_stock_value-{{ obj.id }}">0</small>
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>  
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
<script src="{% static 'storagemanagement_supplieritem_overview.js' %}"></script>
<script>
    supplieritem_overview("{{ api_data_url }}","supplieritem");
</script>
{% endblock scripts %}