{% load static %}
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="nav me-auto mb-0">
            {% if perms.structuremanagement.view_maintenance %}
            <!-- Overview -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_overview' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_overview' %}">
                    <i class="fas fa-eye"></i>
                </a>
            </li>
            <!-- END Overview -->
            {% endif %}
            {% if perms.structuremanagement.list_maintenance %}
            <!-- List -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_list' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_list' %}">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <!-- END List -->
            {% endif %}
            {% if perms.structuremanagement.table_maintenance %}
            <!-- Table -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_table' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_table' %}">
                    <i class="fas fa-table"></i>
                </a>
            </li>
            <!-- END Table -->
            {% endif %}
            {% if perms.structuremanagement.add_maintenance %}
            <!-- Create -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_create' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_create' %}">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <!-- END Create -->
            {% endif %}
            {% if 'maintenance_delete' in request.resolver_match.url_name or 'maintenance_detail' in request.resolver_match.url_name or 'maintenance_update' in request.resolver_match.url_name and perms.structuremanagement.detail_maintenance %}
            <!-- Detail -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_detail' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_detail' maintenance=queryset.slug %}">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <!-- END Detail -->
            {% endif %}
            {% if 'maintenance_delete' in request.resolver_match.url_name or 'maintenance_detail' in request.resolver_match.url_name or 'maintenance_update' in request.resolver_match.url_name and perms.structuremanagement.change_maintenance %}
            <!-- Update -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_update' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_update' maintenance=queryset.slug %}">
                    <i class="fas fa-pen"></i>
                </a>
            </li>
            <!-- END Update -->
            {% endif %}
            {% if 'maintenance_delete' in request.resolver_match.url_name or 'maintenance_detail' in request.resolver_match.url_name or 'maintenance_update' in request.resolver_match.url_name and perms.structuremanagement.delete_maintenance %}
            <!-- Delete -->
            <li class="nav-item">
                <a class="btn {% if 'maintenance_delete' in request.resolver_match.url_name %}btn-success{% else %}btn-secondary{% endif %} me-2" href="{% url 'structuremanagement:maintenance_delete' maintenance=queryset.slug %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            <!-- END Delete -->
            {% endif %}
        </ul>
    </div>
</nav>
