{% extends "program.html" %}

{% block title %}
    Programm Tabelle
{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_V1.css' %}">
{% endblock static %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <!-- Tabelle -->
    <table class="light"  id="Machine-Table-1">
        <col width = "45px" />
        <col width = "45px" />
        <col width = "200px" />
        <col width = "150px" />
        <col width = "150px" />
        <col width = "150px" />
        <col width = "150px" />
        <col width = "50px" />
        <col width = "50px" />
        <col width = "50px" />
        <col width = "50px" />
        <caption>
            <div>
                <span>Programme</span>
                <input class="dropdown-checkbox" type="checkbox" id="settings">
                <label class="icon" for="settings">
                    <img src="{% static 'icons/settings.png' %}" alt="Icon">
                </label>
                <div class="dropdown-content">
                    Test
                </div>
            </div>
        </caption>
        <thead>
            <tr>
                <th rowspan="2" colspan="2">

                </th>
                <th>
                    Skript
                </th>
                <th colspan="2">
                    Ersteller
                </th>
                <th colspan="2">
                    Update
                </th>
                <th rowspan="2">
                    HTML
                </th>
                <th rowspan="2">
                    CSS
                </th>
                <th rowspan="2">
                    JS
                </th>
                <th rowspan="2">
                    PY
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" id="Machine-Input-3" onkeyup="tableFilter('Machine',1,3)" placeholder="Skript" style="width:100%">
                </th>
                <th>
                    Zeitpunkt
                </th>
                <th>
                    <input type="text" id="Machine-Input-5" onkeyup="tableFilter('Machine',1,5)" placeholder="Person" style="width:100%">
                </th>
                <th>
                    Zeitpunkt
                </th>
                <th>
                    <input type="text" id="Machine-Input-7" onkeyup="tableFilter('Machine',1,7)" placeholder="Person" style="width:100%">
                </th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            {% for obj in queryset %}
            <tr>
                <td>
                    <a class="icon" href="{{ obj.get_absolute_url }}">
                        <img src="{% static 'icons/detail.png' %}" alt="Icon">
                    </a>
                </td>
                <td>
                    <a class="icon" href="{% url 'programs:program_update' id=obj.id %}">
                        <img src="{% static 'icons/bearbeiten.png' %}" alt="Icon">
                    </a>
                </td>
                <td>
                    {{ obj.name }}
                </td>
                <th>
                    Ersteller
                </th>
                <td class="center">
                    {{ obj.createTime|date:"d.m.Y" }}
                </td>
                <td>
                    {{ obj.createUser }}
                </td>
                <th>
                    Update
                </th>
                <td class="center">
                    {{ obj.updateTime|date:"d.m.Y" }}
                </td>
                <td>
                    {{ obj.updateUser }}
                </td>
                <th>
                    Dateien
                </th>
                <td class="center">
                    {% if obj.htmlfile %}
                    <a class="icon" href="{{ obj.htmlfile.url }}" target="_blank">
                        <img src="{% static 'icons/html.png' %}" alt="Icon">
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="center">
                    {% if obj.cssfile %}
                    <a class="icon" href="{{ obj.cssfile.url }}" target="_blank">
                        <img src="{% static 'icons/css.png' %}" alt="Icon">
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="center" style="position:relative;">
                    {% if obj.jsfile %}
                    <a class="icon" href="{{ obj.jsfile.url }}" target="_blank">
                        <img src="{% static 'icons/js.png' %}" alt="Icon">
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td class="center" style="position:relative;">
                    {% if obj.pyfile %}
                    <a class="icon" href="{{ obj.pyfile.url }}" target="_blank">
                        <img src="{% static 'icons/py.png' %}" alt="Icon">
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <!-- END Table Body -->
    </table>
    <!-- END Tabelle -->
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}