{% extends "main.html" %}

{% block title %}
    Programme
{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_V1.css' %}">
{% endblock static %}

{% block menubar %}
<nav class="menubar col-xl-24 col-lg-24 col-md-24 col-sm-24">
    <ul></ul>
    <ul class="menu">
        <li class="menuitem success {% if request.resolver_match.url_name == 'program_list' %}active{% endif %}">
            <a href="{% url 'programs:program_list' %}">
                <img src="{% static 'icons/list.png' %}" alt="Icon">
                <span>Liste</span>
            </a>
        </li>
        <li class="menuitem success {% if request.resolver_match.url_name == 'program_table' %}active{% endif %}">
            <a href="{% url 'programs:program_table' %}">
                <img src="{% static 'icons/table.png' %}" alt="Icon">
                <span>Tabelle</span>
            </a>
        </li>
        {% if request.resolver_match.url_name == 'program_detail' or request.resolver_match.url_name == 'program_update' or request.resolver_match.url_name == 'program_delete' %}
        <li class="menuitem success {% if request.resolver_match.url_name == 'program_detail' %}active{% endif %}">
            {% if queryset.id %}
            <a href="{% url 'programs:program_detail' id=queryset.id %}">
            {% else %}
            <a href="{% url 'programs:program_list' %}">
            {% endif %}
                <img src="{% static 'icons/detail.png' %}" alt="Icon">
                <span>Details</span>
            </a>
        </li>
        <li class="menuitem success {% if request.resolver_match.url_name == 'program_update' %}active{% endif %}">
            {% if queryset.id %}
            <a href="{% url 'programs:program_update' id=queryset.id %}">
            {% else %}
            <a href="{% url 'programs:program_list' %}">
            {% endif %}
                <img src="{% static 'icons/bearbeiten.png' %}" alt="Icon">
                <span>Bearbeiten</span>
            </a>
        </li>
        {% endif %}
        <li class="menuitem success {% if request.resolver_match.url_name == 'program_create' %}active{% endif %}">
            <a href="{% url 'programs:program_create' %}">
                <img src="{% static 'icons/add.png' %}" alt="Icon">
                <span>Hinzufügen</span>
            </a>
        </li>
        {% if request.resolver_match.url_name == 'program_detail' or request.resolver_match.url_name == 'program_update' or request.resolver_match.url_name == 'program_delete' %}
        <li class="menuitem error">
            <label for="delete">
                <img src="{% static 'icons/delete.png' %}" alt="Icon">
                <span>Löschen</span>
            </label>
            <input type="checkbox" id="delete" name="delete" hidden>
            <div class="modalbox">
                <div class="content">
                    Soll dieses Objekt wirklich gelöscht werden?
                    <div>
                        <label class="hover-error" for="delete">
                        Abbrechen
                        </label>
                        {% if queryset.id %}
                        <a class="hover-success" href="{% url 'programs:program_delete' id=queryset.id %}">
                            Bestätigen
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}