{% extends "main.html" %}

{% block title %}
    Lagermanagement
{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table_V1.css' %}">
{% endblock static %}

{% block menubar %}
{% endblock menubar %}

{% block aside %}
{% endblock aside %}

{% block content %}
<section>
    <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title ">
                    <a href="{% url 'storagemanagement:storage_overview' %}" class="btn btn-lg btn-primary align-middle w-100">
                        Lager
                    </a>
                </h3>
                <div class="card-text">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'storagemanagement:storageitem_overview' %}" class="btn btn-primary w-100">
                                Anzahl
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-calculator"></i>
                                </label>
                                <span class="form-control">
                                    {{ storageitem_count }}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <label class="btn btn-primary w-100 disabled">
                                Warnung
                            </label>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-bell"></i>
                                </label>
                                <span class="form-control">
                                    {{ storageitem_warning }}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <label class="btn btn-primary w-100 disabled">
                                Alarm
                            </label>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </label>
                                <span class="form-control">
                                    {{ storageitem_alarm }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3">
                        <div class="progress" style="height:2.5rem">
                            <div class="progress-bar bg-primary" role="progressbar" style="width:{{ stock_percentage }}%" aria-valuenow="{{ stock_percentage }}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                            <div class="progress-value" style="position:absolute;left:45%;font-size:1.5rem;">
                                {{ stock_percentage }} %
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-1">
                            <label class="btn btn-primary w-100 disabled">
                                Aktueller Wert
                            </label>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-euro-sign"></i>
                                </label>
                                <span class="form-control">
                                    {{ stock_value }} €
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <label class="btn btn-primary w-100 disabled">
                                Ausstände
                            </label>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-euro-sign"></i>
                                </label>
                                <span class="form-control">
                                    {{ stock_miss_value }} €
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <label class="btn btn-primary w-100 disabled">
                                Maximalwert
                            </label>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-euro-sign"></i>
                                </label>
                                <span class="form-control">
                                    {{ stock_max_value }} €
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title ">
                    <a href="{% url 'storagemanagement:supplier_overview' %}" class="btn btn-lg btn-primary align-middle w-100">
                        Lieferanten
                    </a>
                </h3>
                <div class="card-text">
                    <div class="row">
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:supplier_overview' %}" class="btn btn-primary w-100">
                                Anzahl
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-industry"></i>
                                </label>
                                <span class="form-control">
                                    {{ supplier_count }}
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:suppliercontact_overview' %}" class="btn btn-primary w-100">
                                Kontakte
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-users"></i>
                                </label>
                                <span class="form-control">
                                    {{ suppliercontact_count }}
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:supplieritem_overview' %}" class="btn btn-primary w-100">
                                Artikel
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-cubes"></i>
                                </label>
                                <span class="form-control">
                                    {{ supplieritem_count }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title ">
                    <a href="{% url 'storagemanagement:booking_overview' %}" class="btn btn-lg btn-primary align-middle w-100">
                        Buchungen
                    </a>
                </h3>
                <div class="card-text">
                    <div class="col">
                        {% for obj in booking_last %}
                        <div class="row">
                            <div class="col mt-1">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="fas fa-clock"></i>
                                    </label>
                                    <span class="form-control">
                                        {{ obj.create_date }} {{ obj.create_time }}
                                    </span>
                                </div>
                            </div>
                            <div class="col mt-1">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </label>
                                    <span class="form-control">
                                        {{ obj.create_username }}
                                    </span>
                                </div>
                            </div>
                            <div class="col mt-1">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="fas fa-box"></i>
                                    </label>
                                    <span class="form-control">
                                        {{ obj.supplieritem.storageitem.name }}
                                    </span>
                                </div>
                            </div>
                            <div class="col mt-1">
                                <div class="input-group">
                                    <label class="input-group-text">
                                        <i class="fas fa-calculator"></i>
                                    </label>
                                    <span class="form-control">
                                        {{ obj.amount }}
                                    </span>
                                </div>
                            </div>
                            <div class="col mt-1 text-end">
                                <a href="{{ obj.url_detail }}" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title ">
                    <a href="{% url 'storagemanagement:orderprocess' %}" class="btn btn-lg btn-primary align-middle w-100">
                        Bestellvorgänge
                    </a>
                </h3>
                <div class="card-text">
                    <div class="row">
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:requestdata_overview' %}" class="btn btn-primary w-100">
                                Anfragen
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-question"></i>
                                </label>
                                <span class="form-control">
                                    {{ requestdata_open }}
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:offer_overview' %}" class="btn btn-primary w-100">
                                Angebote
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-file"></i>
                                </label>
                                <span class="form-control">
                                    {{ offer_open }}
                                </span>
                            </div>
                        </div>
                        <div class="col mt-1">
                            <a href="{% url 'storagemanagement:order_overview' %}" class="btn btn-primary w-100">
                                Bestellungen
                            </a>
                            <div class="input-group mt-1">
                                <label class="input-group-text">
                                    <i class="fas fa-truck"></i>
                                </label>
                                <span class="form-control">
                                    {{ order_open }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block aside_mail %}
{% endblock aside_mail %}

{% block footer %}
{% endblock footer %}